{% extends 'base.html' %}
{% block body %}
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

    {% for melon in cartmelon%}
        {{name,cartmelon[melon]}}</p>

    <!-- 
    <tr><td>{{attr[0]}}</td><td>{{attr[2]}}</td><td>${{attr[1]}}</td><td>${{attr[2] * attr[1]}}</td></tr>
    -->
    <!-- tried unpacking using cartmelon.items(), cartmelon.values()
    -->    
    {% endfor %}



</table>
<h3>Total: FIXME</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
