{% extends 'base.html' %}
{% block body %}

{% if cartmelon %}
    <table class="table table-striped">
        <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
        {% for key, value in cartmelon.items()%}
            <tr><td>{{value[0]}}</td><td>{{value[1]}}</td><td>${{'%0.2f'| format(value[2])}}<td>${{'%0.2f'| format(value[1]*value[2])}}</td>
        {% endfor %}

    </table>
    <h3>Total: ${{'%0.2f'| format(total_cost)}}</h3>
    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% else %}
<h1> No melons in your cart! Yet... </h1>
{% endif %}
{% endblock %}

<!-- if cartmelon checks if there is something in cartmelon, if cartmelon is an empty dictionary, then return else: No melons in your cart!
  -->